@import 'theme_color';

.modal1 {
    display: none;
    position:fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background: #fff;
    width: 320px;
    height: 320px;
    text-align: center;
    box-sizing:border-box;
    box-shadow:0 0 20px rgba(0,0,0,.2);
    z-index:99;

    &.visible {
      display: block;
    }
  }

  .modal2 {
    display: none;
    position:fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background: #fff;
    width: 320px;
    height: 320px;
    text-align: center;
    box-sizing:border-box;
    box-shadow:0 0 20px rgba(0,0,0,.2);
    z-index:99;

    &.visible {
      display: block;
    }
  }
  .modal__header {
    display: flex;
    flex-direction: row;
    color: white;
    background: $bg-default;
    line-height: 50px;
    text-align: center;
    position: relative;
    height: 50px;
    box-sizing: border-box;

    a {
      position: absolute;
      top: 0;
      right: 0;
      text-decoration: none;
      color:white;
      font-weight: bold;
      display: block;
      padding: 0 20px;
      font-size:16px;
      background: #555;
      height: 100%;
    }
  }

  #hidden_field_image {
    display: none;
  }
