.nav-cat {
        width: 100%;
        overflow: hidden;
}

.tab-cat {
        padding: 8px 16px;
        float: left;
        width: auto;
        border: none;
        display: block;
        outline: 0;
        border-style: outset;
        border-radius: 5%;
        border-width: 1px;
        border-color: black
}
