.mon-panier {
    font-family: 'Shadows Into Light', cursive;
    color: #ff00db;
};

@media screen and (min-width:480px) {
  .cart-div {
    min-width: 100vh;
  };
  .cart-tableau {
    min-height: 50px;
    max-height: 250px;
  }
}
