.cropped img {
        background-position-y: 50%;
        background-position-x: 50%;
        height: auto;
        width: auto;
        filter: brightness(60%);
        filter: contrast(90%);
}

.alignons {
        display: flex;
        flex-direction: row;
}

.alignons header {
        align-items: flex-start;
}

.alignons .alignonsnous {
        align-items: flex-end;
}

.cropped_favorites img {
        background-position-y: 50%;
        background-position-x: 50%;
        height: 250px;
        width: auto;
}
