<div class="col-lg-9">
  <div class="mb-4 d-flex justify-content-center">
<h2 class="mt-4">Votre commande a bien été enregistrée !</h2>
  </div>
<span class="mt-4">Elle vous sera transmise par email dans les plus bref délais.</span> <br>
<span>N'hésitez pas à vérifier votre boîte !</span> <br>

<div class="d-flex align-items-center mt-5 d-flex justify-content-center">
<img class="border border-dark" src="https://thumbs.gfycat.com/EverlastingBrownAmericanbobtail-size_restricted.gif">
</div>

<br>
<br>
<%= link_to "Retourner à l'accueil", root_path %>

</div>
