<header class="header-area clearfix">
    <!-- Close Icon -->
    <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    
<!-- User -->
    <ul> 
        <% if user_signed_in? %>
            <li><div class="logo"><img src="<%=current_user.avatar%>"></div></li>
            <li>Salut  <%=current_user.nickname%>
            <li> <%= link_to "Profil", edit_user_registration_path %> </li>
            <li> <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %> </li>
        <% else %>
            <li><button class="modal-inscription">Inscription</button></li>
            <li><button class="modal-connection">Connexion</button></li>
        <%end%>
    </ul>
<!-- Amado Nav -->
    <nav class="amado-nav">
        <ul>
            <li class="active"><a href="/">Accueil</a></li>
            <li><a href="cart.html">Panier</a></li>
            <li><a href="checkout.html">Order</a></li>
        </ul>
    </nav>
   
    <!-- Cart Menu -->
    <div class="cart-fav-search mb-100">
        <a href="cart.html" class="cart-nav"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart <span>(0)</span></a>
        <a href="#" class="fav-nav"><i class="fa fa-heart" aria-hidden="true"></i> Favoris</a>
        <a href="#" class="search-nav"><i class="fa fa-search" aria-hidden="true"></i> Recherche</a>
    </div>
    <!-- Social Button -->
    <div class="social-info d-flex justify-content-between">
        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
</header>