<form action="your-server-side-code" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_HN4xZVR4GThqy1n2bFSnXx4F"
    data-amount="999"
    data-name="Demo Site"
    data-description="Example charge"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-currency="eur">
        
    Stripe.apiKey = "pk_test_HN4xZVR4GThqy1n2bFSnXx4F";

    String token = request.getParameter("stripeToken");

    Map<String, Object> params = new HashMap<>();
    params.put("amount", 999);
    params.put("currency", "eur");
    params.put("description", "Example charge");
    params.put("source", token);
    params.put("capture", false);
    Charge charge = Charge.create(params);

  </script>
</form>

