<ul> 
    <% if user_signed_in? %>
        <li> <%= link_to "Déconnection", destroy_user_session_path, method: :delete %> </li>
        <li> <%= link_to "Profil", edit_user_registration_path %> </li>
    <% else %>
        <li> <%= link_to "Inscription", new_user_session_path %> </li>
        <li> <%= link_to "Connection", new_user_registration_path %> </li>
    <%end%>
</ul>